<main>
	<%- include('../partials/adminSidebar') %>
	
	<div id="main-wrapper">
		
		<div class="bg-white shadow-sm p-3">
			<span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
			<h5 class="m-0 color-theme d-inline-block">Dashboard</h5>
		</div>		
		<div class="col col-sm-10 col-12 m-auto my-4" style="max-height: 75%; overflow: auto;">
			<table class="table table-info table-striped table-hover m-0 bg-white">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Volunteer name</th>
						<th scope="col">Email</th>
						<th scope="col">Phone</th>
						<th scope="col">Joined time</th>
					</tr>
				</thead>
				<tbody>
					<% for(let i=0; i<volunteer.length; i++) { %>
						<tr>
							<th scope="row"> <%= i+1 %> </th>
							<td> <%= volunteer[i].firstName + " " + volunteer[i].lastName %> </td>
							<td> <%= volunteer[i].email %> </td>
							<td> <%= volunteer[i].phone %> </td>
							<td> <%= volunteer[i].joinedTime.toLocaleString("en-IN", { dateStyle: "medium", timeStyle: "short"}) %> </td>
							<td><a href="/admin/previous_work_volunteer/view/<%= volunteer[i]._id %>" class="btn">View</a></td>
					<% } %>
				</tbody>
			</table>
		</div>
		
	</div>
</main>