<main>
	<%- include('../partials/volenteerSidebar') %>
	
	<div id="main-wrapper">
		
		<div class="bg-white shadow-sm p-3">
			<span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
			<h5 class="m-0 color-theme d-inline-block">Nursery Details of <%= nursary_d.name %></h5>
		</div>

   
       
            
            <form action="" method="POST" class="border m-4 my-3 p-4 bg-white rounded-2 shadow">   
               
    
        
                
                
          
                
                <div class="row">
                   
                        <input type="hidden" name="nursary_name" id="nursary_name" value="<%=nursary_d.name %>">
                        <input type="hidden" name="nursary_id" id="nursary_id" value="<%=nursary_d._id %>">                       
                        <input type="hidden" name="caretaker" id="caretaker" value="<%=nursary_d.caretaker %>">
                        <input type="hidden" name="address" id="address" value="<%=nursary_d.address %>">
                        <input type="hidden" name="phone" id="phone" value="<%=nursary_d.phone %>">

                        <input type="hidden" name="row_count" id="row_count" >


                
                        <!-- <input type="text" name="donation[plant_name]" class="form-control" id="address" placeholder="Enter address.." value="<%= currentUser.address %>" required> -->
                        <div class="mb-4 col-sm-4">
                            <label for="r_address" class="form-label">Address</label>
                            <input type="text"  name="r_address" class="form-control" id="r_address" readonly value="<%=nursary_d.address %>">
                        </div>
                    
                    <div class="mb-4 col-sm-4">
                        <label for="r_qty" class="form-label">Caretaker</label>
                        <input type="text"  name="r_qty" class="form-control" id="r_qty" value="<%=nursary_d.caretaker %>" readonly>
                    </div>

                    <div class="mb-4 col-sm-4">
                        <label for="r_phone" class="form-label">Phone</label>
                        <input type="number" name="r_phone" class="form-control" id="r_phone"   value="<%=nursary_d.phone %>" readonly >
                    </div>
                </div>
                
               
                
                <!-- <button type="button" class="btn w-75 d-block m-auto mt-4" onclick="add_row()">Add</button> -->
           
            
        
		
		<div class="col col-sm-10 col-12 m-auto my-4" style="max-height: 75%; overflow: auto;">
			<table class="table table-info table-striped table-hover m-0 bg-white" id="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Plant</th>
						<th scope="col">Quantity</th>
						<th scope="col">Added Date</th>
                      
						
						
					</tr>
				</thead>
				<tbody>
					<% 
                    if(nursary_details.length > 0){
                    for(let i=0; i<nursary_details.length; i++) { %>
						<tr>
							<th scope="row"> <%= i+1 %> </th>
							<td> <%= nursary_details[i].plant %> </td>
							<td> <%= nursary_details[i].quantity %> </td>
							
							<td> <%= nursary_details[i].add_date.toLocaleDateString() %> </td>
							

							
						</tr>
					<% }} %>
				</tbody>
			</table>
		</div>
       
    </form>
	</div>
</main>